[flake8]

extend-ignore =
    H101
    N
    W504
    E203
    W503

max-line-length = 99

exclude =
    .nox/

per-file-ignores =
    *lib.py:E221,E501
    setup.py:E
    __init__.py:E402,F401,F403
    *.pyi:E,W
