
'0.1.0':
    xmatch_plan: 0.1.0-beta.1
    cartons:
        - guide
    schema: sandbox
    magnitudes:
        g: [catalog_to_sdss_dr13_photoobj, sdss_dr13_photoobj.psfmag_g]
        r: [catalog_to_sdss_dr13_photoobj, sdss_dr13_photoobj.psfmag_r]
        i: [catalog_to_sdss_dr13_photoobj, sdss_dr13_photoobj.psfmag_i]
        h: [catalog_to_tic_v8, tic_v8, twomass_psc.h_m]
        bp: [catalog_to_tic_v8, tic_v8, gaia_dr2_source.phot_bp_mean_mag]
        rp: [catalog_to_tic_v8, tic_v8, gaia_dr2_source.phot_rp_mean_mag]
    parameters:
        guide:
            g_min: 13
            g_max: 17
            min_separation: 0.002777778
        galactic_genesis:
            h_max: 11
            h_g: 3.5
