
'0.1.0':
    xmatch_plan: 0.1.0
    cartons:
        - mwm_ob
        - mwm_ob_mc
        - mwm_ob_cepheids
        - mwm_galactic
        - mwm_planet
        - mwm_100pc
        - mwm_250pc
        - mwm_cb_300pc
        - mwm_cb_gaiagalex
        - mwm_cb_cvcandidates
        - mwm_cb_uvex1
        - mwm_cb_uvex2
        - mwm_cb_uvex3
        - mwm_cb_uvex4
        - mwm_cb_uvex5
        - mwm_halo_bb
        - mwm_halo_sm
        - mwm_tess_rgb
        - mwm_yso_s1
        - mwm_yso_s2
        - mwm_yso_s2_5
        - mwm_yso_s3
        - mwm_yso_ob
        - mwm_yso_cmz
        - mwm_yso_cluster
        - mwm_dust
        - mwm_wd
    schema: sandbox
    magnitudes:
        g: [catalog_to_sdss_dr13_photoobj_primary, sdss_dr13_photoobj.psfmag_g]
        r: [catalog_to_sdss_dr13_photoobj_primary, sdss_dr13_photoobj.psfmag_r]
        i: [catalog_to_sdss_dr13_photoobj_primary, sdss_dr13_photoobj.psfmag_i]
        z: [catalog_to_sdss_dr13_photoobj_primary, sdss_dr13_photoobj.psfmag_z]
        h: [catalog_to_tic_v8, tic_v8.hmag]
        bp: [catalog_to_tic_v8, tic_v8.gaiabp]
        rp: [catalog_to_tic_v8, tic_v8.gaiarp]
    parameters:
        mwm_wd:
            gmag: 20
            pwd: 0.5
        mwm_galactic:
            h_max: 11
            g_h: 3.5
        mwm_planet:
            h_min: 7
            h_max: 12
        mwm_halo_sm:
            feh: -1.7
        mwm_halo_bb:
            priority_version_1: 6050
            priority_version_2: 6000
    database_options:
        work_mem: '5GB'
        temp_buffers: '10GB'
