
'0.1.0-beta.1':
    xmatch_plan: 0.1.0-beta.1
    cartons:
        - guide
        - mwm_halo_sm
    schema: sandbox
    magnitudes:
        g: [catalog_to_sdss_dr13_photoobj, sdss_dr13_photoobj.psfmag_g]
        r: [catalog_to_sdss_dr13_photoobj, sdss_dr13_photoobj.psfmag_r]
        i: [catalog_to_sdss_dr13_photoobj, sdss_dr13_photoobj.psfmag_i]
        z: [catalog_to_sdss_dr13_photoobj, sdss_dr13_photoobj.psfmag_z]
        h: [catalog_to_tic_v8, tic_v8.hmag]
        bp: [catalog_to_tic_v8, tic_v8.gaiarp]
        rp: [catalog_to_tic_v8, tic_v8.gaiabp]
    parameters:
        guide:
            g_min: 13
            g_max: 17
            min_separation: 0.002777778
        mwm_halo_sm:
            feh: -1.7
    database_options:
        work_mem: '2GB'
        temp_buffers: '2GB'
